@page "/login"
@layout MyTestApp.Components.Layout.LoginLayout
@inject HttpClient httpClient
@inject CustomAuthenticationStateProvider customAuthenticationStateProvider
@inject NavigationManager navigationManager
@using Models

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center pt-10">
  <MudCard Elevation="20" Class="pa-6" Style="width: 100%;">

    <MudCardHeader>
      <MudText Typo="Typo.h4" Align="Align.Center">Hesabınıza Giriş Yapın</MudText>
    </MudCardHeader>

    <MudCardContent>
      <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Model="LoginModelObject">
        <MudTextField T="string" Label="E-posta Adresi" Required="true"
                      InputType="InputType.Email" Immediate="true" @bind-Value = "LoginModelObject.Mail"/>

        <MudTextField T="string" Label="Şifre" Required="true"
                      InputType="InputType.Password" Class="mt-3" @bind-Value = "LoginModelObject.Password"/>

        <div class="d-flex justify-space-between pt-4">
          <MudCheckBox T="bool" Label="Beni Hatırla" />
          <MudLink Href="/forgotpassword" Typo="Typo.subtitle2">Şifremi Unuttum</MudLink>
        </div>

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Disabled="@(!success)"
                   FullWidth="true"
                   Class="mt-6"
                   OnClick="(() => MySubmitVoid())">
          Giriş Yap
        </MudButton>
      </MudForm>
    </MudCardContent>

    <MudCardActions Class="d-flex justify-center">
      <MudText Typo="Typo.subtitle2">Hesabınız yok mu? <MudLink Href="/register">Kaydolun</MudLink></MudText>
    </MudCardActions>
  </MudCard>
</MudContainer>

@code {
  MudForm form;
  bool success;
  string[] errors = { };
  public LoginModel LoginModelObject = new LoginModel();
  private async Task MySubmitVoid()
  {
    await form.Validate();

    if (form.IsValid)
    {
      HttpResponseMessage? response = await httpClient.PostAsJsonAsync("/login",LoginModelObject);
      if(response is not null)
      {
        LoginResponse? result = await response.Content.ReadFromJsonAsync<LoginResponse>();
        if (response.IsSuccessStatusCode)
        {
          if (result is not null)
          {
            customAuthenticationStateProvider.MarkUserAsAuthenticated(result.Token);
            navigationManager.NavigateTo("/");
          }
        }
        else
        {
          customAuthenticationStateProvider.MarkUserAsLoggedout();
          navigationManager.NavigateTo("/login");
        }
      }
      else
      {
        Console.WriteLine("");
      }

    }
  }
}